.title {
    color: white;
    text-align: center;
    margin: 0 auto;
}

.buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 10px auto;
}

.button {
    padding: 5px 10px;
    background-color: #4d4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
